@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Be+Vietnam+Pro:wght@300&family=Lato:ital,wght@1,300&family=Roboto:wght@100;400;700;900&family=Rosarivo&family=Rubik:wght@300;400;500&family=Taprom&family=Tauri&display=swap");
html {
  height: 100%;
  padding: 0;
  position: relative;
}
body {
  /* position: absolute;
  overflow: auto; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Rubik",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
.App {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 2.5rem;
}

/*Navbar "main-nav": 100px*/
.main-nav {
  height: 90px;
}
.main-nav .firstfloor {
  height: 60px;
}
.main-nav .secondfloor {
  height: 40px;
  width: 100%;
  background: #efab5a;
  margin: 0;
  text-align: center;
  border-bottom: 4px solid rgba(210, 120, 120, 0.4);
}
.logo {
  width: 55px;
  display: inline;
  position: relative;
  top: -5px;
  margin-left: 30px;
  margin-right: 10px;
}
.brand {
  font-family: Rubik;
  font-size: 45px;
  font-weight: 300;
  color: black;
  display: inline;
  line-height: 60px;
}
.main-nav .section {
  display: inline-block;
  width: 20%;
  border-radius: 7px;
}
.main-nav .section:hover {
  background: rgba(255, 255, 255, 0.25);
}
.nav-text {
  font-family: Rubik;
  font-size: 20px;
  color: black;
  margin: 0;
}
nav a:hover {
  text-decoration: none;
}
.secondfloor .redirect {
  line-height: 40px;
  color: white;
  text-align: center;
}
.main-nav .redirect:hover {
  font-weight: bold;
}
.navbar {
  padding: 0.5rem 0rem !important;
  height: 70px;
}

@media (max-width: 991.98px) { 
  #navbarNav {
    margin: 0 !important;
    background: white !important;
  }
  .navbar {
    padding: 0.5rem 0rem !important;
    height: 90px;
  }
  .Welcome .content h2{
    font-size: 40px;
  }

  .Welcome .content p{
    font-size: 20px;
  }
 }

 .dropdown-toggle {
   color: black !important;
 }


/*Login*/
.login {
  margin: 0 auto;
  padding-top: 50px;
  height: 550px;
}
.loginpicture {
  width: 420px;
  margin: auto 30px;
}
.login form {
  margin: 0 auto;
  padding: 20px;
}
.login h2 {
  font-family: Rubik;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  text-align: center;
}
.register h2 {
  text-align: center;
}
input, select {
  width: 350px;
  height: 65px;
  border-radius: 15px;
  border: 1px solid black;
  display: block;
  margin: 30px auto;
  padding: 12px;
  resize: vertical;
}
.login button {
  width: 350px;
  height: 65px;
  border-radius: 15px;
  border: 1px solid #ff900d;
  background: #ff900d;
  display: block;
  margin: 0px auto;
  cursor: pointer;
  color: white;
  font-family: Tauri;
  font-size: 22px;
}
button:hover {
  opacity: 0.8;
}
.toregister {
  width: 350px;
  text-align: right;
  margin: 15px auto;
}
.login a {
  color: black;
}

/* Register */
.register {
  margin: 0px auto;
  padding-top: 50px;
}
.defaultavatar {
  display: block;
  position: relative;
  top: 22px;
  margin: 60px auto;
}
.register h2 {
  text-align: center;
}
.register input {
  height: 45px;
}
.register button {
  width: 350px;
  height: 55px;
  height: 55px;
  border-radius: 15px;
  border: 1px solid #ff900d;
  background: #ff900d;
  display: block;
  margin: 0px auto;
  cursor: pointer;
  color: white;
  font-family: Tauri;
  font-size: 17px;
}
.tologin {
  width: 450px;
  text-align: right;
  margin: 25px auto;
}
.register a {
  color: black;
}

/* Home */
.home {
  background: rgba(250, 240, 243, 1);
  font-family: Rubik;
}
.home .buffer {
  height: 100px;
}
.home h2 {
  font-size: 33px;
  padding-bottom: 15px;
}
.home h3 {
  font-family: Rubik;
  font-size: 15px;
}
.home .Welcome {
  height: 365px;
  background: url("../public/homeimg1.png");
  background-color: rgba(220, 210, 220);
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
}
.Welcome .content {
  margin: 0 auto;
  max-width: 700px;
  padding-top: 80px;
}
.Welcome h2 {
  color: white;
  font-family: Rubik;
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 10px;
}
.Welcome p {
  color: white;
  font-family: Rubik;
  font-size: 20px;
}
.Welcome button {
  height: 60px;
  width: 150px;
  font-family: Rubik;
  font-size: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  top: 20px;
}
.Welcome a {
  color: black;
  font-family: Rosarivo;
  margin: 0 30px;
}
.Welcome button:hover {
  background: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  cursor: pointer;
}
.home .About-us {
  min-height: 250px;
  text-align: center;
  position: relative;
  padding-top: 50px;
}
.About-us .content {
  min-height: 200px;
  max-width: 900px;
  margin: 0 auto;
}
.About-us p {
  font-weight: 300;
}
.About-us .seperator {
  background: orange;
  width: 500px;
  height: 3px;
  margin: 10px auto;
}
.home .Privilege {
  min-height: 200px;
  text-align: center;
}
.Privilege .box {
  display: inline-block;
  margin: 30px 20px;
  width: 240px;
  height: 150px;
  background: white;
  border-radius: 8px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  padding: 10px;
}
.Privilege h4 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
}
.home .Subject {
  min-height: 250px;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}
.Subject .subject-display {
  margin: 20px auto;
  width: 250px;
  text-align: justify;
  font-family: Rubik;
  font-size: 12px;
  line-height: 14px;
}
.Subject h4 {
  font-size: 18px;
  line-height: 20px;
  color: orange;
  margin: 0;
  margin-bottom: 7px;
}
.Subject img {
  width: 70px;
  margin-right: 20px;
  float: left;
}
.home .Quote {
  min-height: 200px;
  padding-bottom: 20px;
  background: #ffd8a9;
  text-align: center;
  color: white;
  font-weight: 500;
  font-style: italic;
}
.Quote img {
  width: 100%;
  margin-bottom: 20px;
}
.Quote h4 {
  font-size: 20px;
  margin: 0;
}
.Quote p {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 10px;
}

/*Profile View*/
.profile {
  margin-bottom: 0px;
}
.profile img {
  display: block;
  margin: 0 auto;
}
.profile-detail {
  background: rgba(245, 230, 230);
  margin: 120px auto 0px auto;
  padding: 30px 30px 20px 30px;
  border-radius: 20px;
  position: relative;
  width: 700px;
}
.profile h4 {
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
  margin: 10px auto 20px auto;
}
.profile p {
  line-height: 35px;
}
.title {
  margin: 3px 20px;
  padding: 0px 70px;
  font-weight: bold;
  position: absolute;
  left: -60px;
  line-height: 45px;
  margin-top: 0px;
  font-size: 18px;
}
.info {
  margin: 3px 20px;
  font-family: Times-New-Roman;
  font-size: 20px;
}
.tutor-detail {
  background: rgba(255, 155, 0, 0.6);
  border-radius: 10px;
  margin: 20px 0 0 0;
  padding: 14px;
}
.tutor-detail .title {
  left: 15px;
}
.profile h2 {
  position: relative;
  left: 30px;
  font-weight: normal;
}
.clickButton {
  width: 250px;
  height: 55px;
  border-radius: 15px;
  border: 1px solid #ff900d;
  background: #ff900d;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  color: white;
  font-family: Tauri;
  font-size: 17px;
}

/*Profile Edit*/
.profileedit {
  background: rgba(245, 230, 230);
  margin: 120px auto 0px auto;
  padding: 30px;
  padding-top: 0;
  padding-bottom: 0px;
  border-radius: 20px;
  position: relative;
  width: 700px;
}
.profileedit img {
  margin: 0px auto;
}
.profileedit input {
  display: inline;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid black;
}
.profileedit select {
  display: flex;
  margin: 0 auto;
  width: 300px;
  height: 40px;
  border: 2px solid black;
}
.profileedit .checkBox {
  margin: auto;
  position: relative;
  left: -130px;
  width: 32px;
}
.profileedit .subject-box {
  display: inline;
  margin: 0 auto;
  width: 400px;
  position: relative;
  left: 50px;
  border: 2px solid black;
}
.profileedit button {
}
.typo {
  font-size: 30px;
  line-height: 40px;
}
.profileedit .section {
  height: 50px;
  position: relative;
}
.data-buttons {
  padding: 0 70px;
}
.data-buttons button {
  display: inline;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  margin: 50px 20px;
}
.profileedit button:disabled {
  opacity: 0.6;
}

/*Tutor page*/
.tutors {
  margin: 0 30px 0 30px;
  padding-top: 125px;
  text-align: center;
}
.tutors button {
  width: 200px;
  height: 65px;
  border-radius: 15px;
  border: 1px solid #ff900d;
  background: #ff900d;
  display: inline;
  margin: 0px auto;
  cursor: pointer;
  color: white;
  font-family: Tauri;
}
.tutors button:disabled {
  opacity: 0.6;
}
.pagination {
  width: 100px;
  margin: 0 auto;
}
/* Option 3*/
.tutor-preview {
  text-align: center;
  display: inline-block;
  margin: 7px 30px 40px 30px;
}
.tutor-block {
  width: 200px;
  height: 300px;
  position: relative;
  box-shadow: 20px 10px rgba(235, 225, 225);
}
.tutors .image {
  width: 210px;
  height: 190px;
  z-index: -1;
}
.tutors .box2 {
  background: white;
  height: 210px;
  padding: 10px 5px auto 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 210px;
  height: 150px;
  text-align: left;
}
.tutors h2 {
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  color: black;
  padding: 24px 10px 0 10px;
}
.tutors p {
  font-family: Rubik;
  font-size: 18px;
  font-style: italic;
  line-height: 22px;
  padding: 0 10px;
}
.tutors a {
  color: black;
}
.seemore {
  font-family: Rubik;
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 210px;
  height: 35px;
  padding: 5px;
  background: rgba(245, 165, 0, 1);
  text-align: center;
}
.tutors button {
  display: block;
  margin: 50px auto;
}

/*footer*/
footer {
  text-align: center;
  font-family: Rosarivo;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: white;
  background: rgba(235, 125, 0, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 5px;
}

.avatar {
  position: relative;
}